body {
  font-family: Vollkorn, serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
}

h2 {
  margin: 10px 0px;
  font-family: Montserrat, sans-serif;
  font-size: 23px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

h3 {
  margin: 0px 0px 20px;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
}

h4 {
  margin: 10px 0px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

h5 {
  margin: 10px 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

p {
  margin-top: 0px;
  margin-bottom: 5px;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 22px;
  text-align: left;
}

.button {
  display: inline-block;
  padding: 15px 33px;
  border-style: solid;
  border-width: 1px 1px 2px;
  border-color: #47474f;
  background-color: transparent;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  font-family: Vollkorn, serif;
  color: #47474f;
  font-size: 19px;
  font-style: italic;
  text-align: center;
  text-decoration: none;
}

.button:hover {
  background-color: #fff;
}

.header {
  padding: 98px 10px;
  background-image: none;
  background-position: 0px 0px;
  background-size: auto;
  color: #fff;
  text-align: center;
}

.header.project-page {
  padding-top: 25px;
  padding-bottom: 25px;
  background-image: none;
}

.navbar {
  position: static;
  left: 0px;
  top: 0px;
  right: 0px;
  overflow: scroll;
  padding-top: 18px;
  padding-bottom: 18px;
  clear: both;
  background-color: #fff;
}

.nav-link {
  margin-top: 23px;
  margin-left: 34px;
  padding: 0px;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-color 300ms ease;
  transition: border-color 300ms ease;
  font-family: Montserrat, sans-serif;
  color: #404040;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}

.nav-link:hover {
  border-bottom-color: #7ec4bd;
}

.logo-title {
  margin-top: 13px;
  float: left;
  font-family: Oswald, sans-serif;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
}

.main-heading {
  margin-top: 7px;
  font-family: Montserrat, sans-serif;
  color: #353535;
  font-size: 44px;
  line-height: 55px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.divider {
  display: block;
  width: 80px;
  height: 2px;
  margin: 28px auto;
  background-color: #353535;
}

.divider.grey {
  margin-bottom: 43px;
  background-color: rgba(0, 0, 0, .09);
}

.main-subtitle {
  margin-bottom: 11px;
  font-family: 'PT Sans', sans-serif;
  color: #939393;
  font-size: 18px;
  font-style: normal;
  font-weight: 200;
}

.about-section {
  padding-bottom: 60px;
  background-color: #fff;
  font-family: Lato, sans-serif;
  text-align: center;
}

.x-icon {
  margin-top: -26px;
  margin-bottom: 34px;
}

.section {
  padding-bottom: 50px;
  text-align: center;
}

.section.grey {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f5f5f5;
}

.section.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f5f5f5;
}

.project-wrapper {
  position: relative;
  bottom: 0px;
  display: block;
  -webkit-transition: bottom 300ms ease;
  transition: bottom 300ms ease;
  color: #333;
  text-decoration: none;
}

.project-wrapper:hover {
  bottom: 8px;
}

.team-image {
  margin-bottom: 21px;
  border-radius: 100%;
  opacity: 0.95;
}

.social-link {
  width: 29px;
  height: 29px;
  margin: 3px;
  padding-top: 5px;
  padding-left: 1px;
  border-radius: 100%;
  background-color: #f5f5f5;
  box-shadow: inset 0 0 0 1px transparent;
  -webkit-transition: box-shadow 300ms ease;
  transition: box-shadow 300ms ease;
}

.social-link:hover {
  box-shadow: inset 0 0 0 2px #7ec4bd;
}

.link {
  color: #4b4949;
  font-weight: 500;
}

.footer-text {
  color: #333;
  text-align: center;
}

.project-info {
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fff;
  font-family: Verdana, Geneva, sans-serif;
}

.project-title {
  margin-bottom: 4px;
  text-align: center;
}

.grow-row {
  margin-bottom: 15px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.paragraph {
  font-family: Ubuntu, Helvetica, sans-serif;
  text-align: left;
}

.heading {
  margin-top: 10px;
  text-align: left;
}

.container {
  padding-top: 15px;
}

.subtitle {
  display: inline;
  color: #6e6e6e;
  font-size: 12px;
  font-style: normal;
}

.list-item {
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 15px;
  text-align: left;
}

.body {
  font-family: Ubuntu, Helvetica, sans-serif;
}

.outcomelink {
  margin-bottom: 14px;
  color: grey;
  font-style: normal;
  text-align: left;
  text-decoration: none;
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.video {
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  margin: 0px 0px 20px;
}

.image {
  height: 150px;
  max-width: 100%;
  margin-bottom: 15px;
  padding: 0px;
}

.row-3 {
  padding: 20px 0px;
}

.text-block-2 {
  font-family: 'Open Sans', sans-serif;
  color: #185786;
  font-size: 20px;
  font-weight: 600;
}

.process-description-paragraph {
  padding: 15px;
  text-align: center;
}

.div-with-pictures {
  padding-top: 8px;
  padding-bottom: 8px;
}

.columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.columns-2 {
  padding: 10px 0px;
}

.paragraph-6 {
  font-style: normal;
}

.bold-text {
  font-weight: 400;
}

.column-2 {
  left: 15px;
}

.about-blob {
  padding-right: 9px;
  padding-left: 12px;
}

.paragraph-7 {
  display: inline;
}

.heading-4 {
  font-family: Montserrat, sans-serif;
  color: #333;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
}

.rich-text-block {
  font-family: Ubuntu, Helvetica, sans-serif;
}

.rich-text-block.list-item {
  padding-bottom: 0px;
}

.persona-column {
  padding-top: 20px;
}

.image-2 {
  position: static;
  overflow: visible;
  float: none;
  clear: none;
}

@media (max-width: 991px) {
  .nav-link {
    margin: 0px auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .nav-link:hover {
    border-bottom-color: transparent;
  }
  .main-heading {
    font-size: 38px;
    line-height: 44px;
  }
  .project-wrapper:hover {
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  .menu-button {
    margin-top: 7px;
    padding: 10px;
    font-size: 32px;
  }
  .menu-button.w--open {
    background-color: transparent;
    color: #7ec4bd;
  }
  .nav-menu {
    background-color: #f5f5f5;
  }
}

@media (max-width: 767px) {
  .header {
    padding-top: 45px;
    padding-bottom: 45px;
  }
  .navbar {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .nav-link {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
  }
  .logo-title {
    margin-top: 6px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .about-section {
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
  }
  .x-icon {
    margin-bottom: 21px;
  }
  .section {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .team-image {
    padding: 50px;
  }
  .menu-button {
    margin-top: 0px;
  }
  .grow-row {
    margin-bottom: 0px;
  }
}

@media (max-width: 479px) {
  .main-heading {
    font-size: 34px;
    line-height: 38px;
  }
}

